# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Code coverage
*.gcov
*.gcno
*.gcda

# Others
notes

*.dSYM
renderer
raycaster
raytracer
pathtracer
test_assimp
radiosity
.DS_Store

./*.png
./*.jpg
./*.tiff
dna.txt

vendor
