[submodule "lib/assimp"]
	path = vendor/assimp
	url = https://github.com/assimp/assimp
[submodule "lib/catch"]
	path = vendor/catch
	url = https://github.com/philsquared/Catch
[submodule "vendor/docopt.cpp"]
	path = vendor/docopt.cpp
	url = https://github.com/docopt/docopt.cpp.git
[submodule "vendor/ThreadPool"]
	path = vendor/ThreadPool
	url = https://github.com/progschj/ThreadPool.git
